#one{
    height: 200px;
    width: 200px;
}
#two{
    height: 200px;
    width: 200px;
}
#three{
    height: 200px;
    width: 200px;
}
main{
    background-color: gray;
    margin:auto;
}
header{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

#resultsButton {
    display: none;
}